<section class="page-container">
    <div class="personal-top clearfix">
        <div class="person-top-left fn-left">
            <div class="person-top-left-header">个人资料<span class="fn-right header-last-in">上次登录：2017-04-28 11:59</span></div>
            <div class="person-top-left-content">
                <form action="">
                    <div class="group clearfix">
                        <label for="" class="fn-left label-left">用户名</label>
                        <input type="text" class="input-control height-30 fn-left tag-81" placeholder="">
                    </div>
                    <div class="group clearfix">
                        <label for="" class="fn-left label-left">手机号</label>
                        <input type="tel" class="input-control height-30 fn-left tag-81" placeholder="">
                    </div>
                    <div class="group clearfix">
                        <label for="" class="fn-left label-left">邮箱</label>
                        <input type="email" class="input-control height-30 fn-left tag-81" placeholder="">
                    </div>
                    <div class="group clearfix">
                        <label for="" class="fn-left label-left">部门</label>
                        <input type="text" class="input-control height-30 fn-left tag-81" placeholder="">
                    </div>
                    <div class="group clearfix">
                        <label for="" class="fn-left label-left">用户名</label>
                        <input type="text" class="input-control height-30 fn-left tag-81" placeholder="" disabled>
                    </div>
                    <div class="btn-group operte info-btn">
                        <button>提交</button>
                        <button>取消</button>
                    </div>
                </form>
            </div>    
        </div>
        <div class="person-top-right fn-left">
            <div class="person-top-left-header">修改密码</div>
            <div class="person-top-right-content">
                <form action="">
                    <div class="group clearfix">
                        <label for="" class="fn-left label-left">原密码</label>
                        <input type="text" class="input-control height-30 fn-left tag-81" placeholder="">
                    </div>
                    <div class="group clearfix">
                        <label for="" class="fn-left label-left">新密码</label>
                        <input type="text" class="input-control height-30 fn-left tag-81" placeholder="">
                    </div>
                    <div class="group clearfix">
                        <label for="" class="fn-left label-left">确认密码</label>
                        <input type="text" class="input-control height-30 fn-left tag-81" placeholder="">
                    </div>
                    <div class="btn-group operte info-btn2">
                        <button>提交</button>
                        <button>取消</button>
                    </div>
                </form>
            </div>    
        </div>
    </div>
    <div class="personal-under">
        <div class="personal-under-header">
            用户列表
            <button class="mission-btn fn-right"><span class="create-mission btn-img fn-left"></span>添加用户</button>
        </div>
        <div class="personal-under-body">
            <div class="table-mission table-person">
        <table>
            <thead>
                <tr>
                    <th>用户名</th>
                    <th style="text-align:left;padding-left:5%">所属部门</th>
                    <th style="padding-left:1%">手机号</th>
                    <th>邮箱</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody ng-repeat="item in personData" class="table-body">
                <tr>
                    <td class="task-name">{{item.administrator}}
                    </td>
                    <td>{{item.department}}</td>
                    <td>{{item.telephone}}</td>
                    <td>{{item.email}}</td>
                    <td><span>修改</span><span ng-click="personData.splice($index,1)">删除</span></td>
                </tr>
            </tbody>
        </table>
    </div>
        </div>
    </div>
</section>